<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TeamLAB Project</title>
  <link rel="stylesheet" href="./static/homestyle.css">

</head>

<body style="background-color: blue;">
  <div class="main">
    <div class="text">
      <h1>Welcome to My Homepage</h1>
      <p>{{ user_name }}</p>
      <br>
      <p>This is a project created by TeamLAB.</p>
    </div>
    <center>
    <div class="form">
      <form action="/home" method="post" enctype="multipart/form-data">
        <table>
          <tr>
            <td>Upload Images</td>
            <td>:</td>
            <td> <input type="file" name="images[]" id="imageUpload" accept="image/*" multiple></td>
          </tr>
          
          <tr>
            <td></td>
            <td></td>
            <td><input style="margin-top: 20px;" type="submit" onclick="preview()"  value="Upload"></td>
          </tr>
        </table>
      </form>
    </div>
    </center>


    <div class="transitionSubmit">
      <div class="transition">
        <h2>Choose transition</h2>
        <ul>
          <li><input type="radio" name="r">None</li>
          <li><input type="radio" name="r">Morph</li>
          <li><input type="radio" name="r">Fade</li>
          <li><input type="radio" name="r">Push</li>
          <li><input type="radio" name="r">Wipe</li>
        </ul>
      </div>
      <!-- <input type="submit" value="Create a Video" onclick="preview()"> -->
    </div>
  </div>
  <script src="home.js"></script>
</body>

</html>